@import "partials/params";
@import "partials/mixins";

.footer {
  background-color: $footer-bg-color;
  color: $footer-color;
  padding: 5px 20px;
  .footer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $footer-color;
    padding: 30px 0;
  }
  .footer__nav {
    @include clear-list;
    display: flex;
    & .nav__item {
        font-size: 13px;
        color: #FFFFFF;
        margin: 0 10px;
    }
    & .nav__link {
        text-decoration: none;
        text-transform: uppercase;
        color: $footer-color;
        transition: all .5s;
        &:hover {
          color: #ffffff;
        }
    }
  }
  .footer__content {
    display: flex;
    font-size: 15px;
    color: rgb(104, 104, 104);
    line-height: 1.733;
    padding: 30px 0;

    & .footer__block {
      width: (100%/3);
      padding: 20px;
    }
    & .footer__text {

    }
    & .footer__map {
      display: flex;
      justify-content: space-around;
      border-right: 1px solid $footer-color;
      border-left: 1px solid $footer-color;
    }
    & .footer__list {

    }
    & .footer__item {}
    & .footer__link {
      display: block;
        color: $footer-color;
        transition: .5s all;
      &:hover {
        color: #ffffff;
        margin-left: 10px;
        .list__icon:hover {
          color: #ffffff;
          margin-left: 10px;
        }
      }
    }

    & .footer__contact {
      & .contact__item {}
      & .contact__icon {
        margin-right: 10px;
      }
    }
  }
}