//colors
$yellow: #F8D32C;
$grey: #7E8B8C;
$red: #E9593C;
$green: #17B89A;
$blue: #14AFEF;
$orange: #F05312;
$main-bg-color: #000000;
$footer-bg-color: #292929;
$footer-color: #636363;

//sizes
$view-port: 1200px;
$nav-height: 60px;
$auth-height: 70px;